p{
    border: 2px inset rgb(52, 1, 254);
/* CSS text */
    color: gray;
    text-align: center;
    text-decoration: none;
    text-transform:inherit;
    word-spacing: 3px;
    text-shadow: 2px;
}